@model IEnumerable<StockView.Models.Stocks>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exchange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaytClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearlyHigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearlyLow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exchange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaytClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyLow)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ticker">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ticker">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ticker">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
