@model IEnumerable<StockView.Models.Watchlist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WatchlistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenericUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WatchlistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenericUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WatchlistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WatchlistId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WatchlistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
